/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(199, 67%, 65%);
}

.calculadora {
    background-color: #d372e2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.resultado {
    width: 90%;
    height: 40px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.botoes button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.2s;
}

.botoes button:hover {
    background-color: #ddd;
}
